MONGODB_URI=
PORT=3000
NODE_ENV=development

# SMTP Email Configuration (For Gmail, you only need to set SMTP_USER and SMTP_PASS)
# Example:
# SMTP_USER=examinerid@gmail.com
# SMTP_PASS=abcd efgh ijkl mnop (16-character Google App Password)
SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_FROM=
